mixin footer__who-we-are-container(modifier)
  .footer__who-we-are-container&attributes(attributes)
    +list(modifier)(class="footer__list list_theme_footer list_headTag_h2")
    +socials(modifier)(class="footer__socials")