mixin header__emergency-tel(modifier)
  if modifier["emergencyTel"] == undefined
    - modifier["emergencyTel"] = "000-000-00";
  a.header__emergency-tel(href="tel:+"+modifier.emergencyTel)&attributes(attributes)!=modifier.emergencyTel
