include ../../img/svg/logoSVG
mixin logotype(modifier)
  - attributes.class += " logotype";
  if modifier["logoHref"] == undefined
    - modifier["logoHref"] = "#!";
  a(href=modifier.logoHref)
    +logoSVG(class=attributes.class)
